html:focus {outline:0;}

html {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.form {
    text-align: left;
    width: 70%;
    margin: auto;
    padding: 10px;
    font-size: 1.5vmax;
}

header {
    position: relative;
    display: inline-flex;
    background-color: green;
    width: 100%;
    color: white;
}

#titulo {
    padding: 10px;
    width: 150%;
    font-size: 35px;
    font-weight: 400;
}

#botao_info {
    padding: 10px;
    font-size: 1.5vmax;
    font-weight: 400;
    width: 15%;
}

#botao_info:hover {
    cursor: pointer;
}

input[type="number"],
select,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 1vmax;
}

label {
  text-align: left;
}

.resultados {
    color: rgb(87, 87, 87);
    font-size: 1vmax;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: -250000px;
    transition-duration: 0.6s;
    background-color: rgba(0, 0, 0, 0.95);
    text-align: center;
    font-size: 1vmax;
    color: white;
}

.sidebar p {
    padding: 0;
    margin: 0.2vmax;
}

#botaoFechar {
    font-size: 1vmax;
    padding: 25px;
    font-weight: 2000;
    color: rgb(255, 0, 0);
}

#botaoFechar:hover {
    cursor: pointer;
    padding: 25px;
}