* {
  -webkit-tap-highlight-color: transparent;
}

html {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.form {
  text-align: left;
  width: 70%;
  margin: auto;
  padding: 10px;
  font-size: 2vw;
}

header {
  position: relative;
  display: inline-flex;
  background-color: green;
  width: 100%;
  color: white;
}

#titulo {
  margin: 0;
  padding: 15px;
  width: 150%;
  font-size: 2vw;
  font-weight: 400;
}

#botao_info {
  position: absolute;
  right: 0;
  padding: 15px;
  margin: 0;
  font-size: 2vw;
  font-weight: 400;
  width: 15%;
}

#botao_info:hover {
  cursor: pointer;
}

input[type="number"],
select,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  font-size: 2vw;
}

label {
  text-align: left;
}

.resultados {
  color: rgb(87, 87, 87);
  font-size: 2vw;
}

.sidebar {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: -100vw;
  transition-duration: 0.6s;
  background-color: rgba(0, 0, 0, 0.95);
  text-align: center;
  font-size: 2vw;
  color: white;
  overflow-y: auto;
}

.sidebar p {
  padding: 0;
  margin: 0.2vmax;
}

#botaoFechar {
  font-size: 20px;
  padding: 15px;
  font-weight: 2000;
  color: rgb(255, 0, 0);
}

#botaoFechar:hover {
  cursor: pointer;
  padding: 15px;
}

#botao_calcular {
  background-color: #4caf50; /* Green */
  border: none;
  width: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
}
